name: Publish Timing iOS App

on:
  workflow_dispatch: # Run manually

jobs:
  publish:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Workload Restore
        run: dotnet workload restore

      - name: Create secrets.release.json
        run: |
          cat > secrets.release.json <<EOF
          {
            "Keycloak": {
              "Realm": "${{ vars.KEYCLOAKREALM }}",
              "ClientId": "${{ secrets.KC_IOS_CLIENT_ID }}",
              "ClientSecret": "${{ secrets.KC_IOS_CLIENT_SECRET }}"
            }
          }
          EOF
        shell: bash

      - name: Extract SharedVersion from Directory.Build.props
        run: |
          version=$(xmllint --xpath "string(//Project/PropertyGroup/SharedVersion)" Directory.Build.props)
          echo "SharedVersion=$version" >> "$GITHUB_ENV"
        shell: bash

      - name: Compute Bundle Version
        shell: bash
        run: |
          version="${{ env.SharedVersion }}"
          code=$(echo "$version" | tr -d '.')
          echo "BundleVersion=$code" >> "$GITHUB_ENV"

      - name: Echo version values
        shell: bash
        run: |
          echo "SharedVersion: $SharedVersion"
          echo "BundleVersion: $BundleVersion"

      - name: Update Info.plist version numbers
        shell: bash
        run: |
          plistPath="RedMist.Timing.UI.iOS/Info.plist"
  
          /usr/libexec/PlistBuddy -c "Set :CFBundleShortVersionString $BundleVersion" "$plistPath"
          /usr/libexec/PlistBuddy -c "Set :CFBundleVersion $BundleVersion" "$plistPath"

      - name: Unlock Keychain
        shell: bash
        run: |
          security unlock-keychain -p "${{ secrets.KEYCHAIN_PASSWORD }}" ~/Library/Keychains/login.keychain-db
          security set-keychain-settings -lut 21600 ~/Library/Keychains/login.keychain-db

      - name: Clean
        run: dotnet clean RedMist.Timing.UI.iOS/RedMist.Timing.UI.iOS.csproj -c Release

      - name: Build
        run: dotnet build RedMist.Timing.UI.iOS/RedMist.Timing.UI.iOS.csproj -f net10.0-ios -c Release -p:ArchiveOnBuild=true -p:RuntimeIdentifier=ios-arm64 -p:CodesignKey="${{ secrets.APPLE_CODESIGNKEY }}" -p:CodesignProvision="RedMist"
