name: Publish Timing Browser-Prod

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Restore workloads
        run: dotnet workload restore

      - name: Create secrets.release.json
        run: |
          @echo off
          echo { > secrets.release.json
          echo   "Keycloak": { >> secrets.release.json
          echo     "Realm": "${{ vars.KEYCLOAKREALM }}", >> secrets.release.json
          echo     "ClientId": "${{ secrets.KC_BROWSER_CLIENT_ID }}", >> secrets.release.json
          echo     "ClientSecret": "${{ secrets.KC_BROWSER_CLIENT_SECRET }}" >> secrets.release.json
          echo   } >> secrets.release.json
          echo } >> secrets.release.json
        shell: cmd

      - name: Update appsettings.json URLs
        shell: pwsh
        run: |
          $appsettingsPath = "RedMist.Timing.UI/appsettings.json"
          $json = Get-Content $appsettingsPath | ConvertFrom-Json
          
          # Update Server URLs
          $json.Server.EventUrl = "${{ vars.SERVER_EVENT_URL || 'https://api.redmist.racing/status/v2/Events' }}"
          $json.Server.OrganizationUrl = "${{ vars.SERVER_ORGANIZATION_URL || 'https://api.redmist.racing/status/v1/Organization' }}"
          $json.Server.SponsorUrl = "${{ vars.SERVER_SPONSOR_URL || 'https://api.redmist.racing/status/v1/SponsorTelemetry' }}"
          
          # Update Hub URL
          $json.Hub.Url = "${{ vars.HUB_URL || 'https://api.redmist.racing/status/event-status' }}"

          # Update Cdn BaseUrl
          $json.Cdn.BaseUrl = "${{ vars.ASSETS_URL || 'https://assets.redmist.racing' }}"
          
          # Save the updated JSON
          $json | ConvertTo-Json -Depth 10 | Set-Content $appsettingsPath -Encoding UTF8

      - name: Publish
        run: dotnet publish "RedMist.Timing.UI.Browser/RedMist.Timing.UI.Browser.csproj" -p:PublishTrimmed=false -o ${{ github.workspace }}\publish-output

      - name: Upload published app
        uses: actions/upload-artifact@v4
        with:
          name: clickonce-artifacts
          path: ${{ github.workspace }}\publish-output

      - name: Upload files to Bunny CDN via copy utility
        shell: pwsh
        run: bunnycdn-copy\BunnyCdnCopy.exe ${{ secrets.BUNNY_STORAGE_NAME }} ${{ secrets.BUNNY_STORAGE_KEY }} de "${{ github.workspace }}\publish-output\wwwroot" / true 10
            
      - name: Purge BunnyCDN Cache
        run: |
          $headers = @{
            "AccessKey" = "${{ secrets.BUNNY_API_KEY }}"
            "Content-Type" = "application/json"
          }
          Invoke-RestMethod -Uri https://api.bunny.net/pullzone/4107592/purgeCache -Method Post -Headers $headers
        shell: pwsh